.home-carousel-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #571b1b;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}
